.header {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  background: #fff;
  top: 0;
}

.header .navbar {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo h2 a {
  text-decoration: none;
  color: #5499C7;
  font-size: 1.6rem;
}

.navbar-icon {
  cursor: pointer;
}

.navbar-icon button {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 865px) {
  .navbar-icon button {
    display: none;
  }
}

.navbar-icon button img {
  width: 100%;
  height: 100%;
}

.section-bar {
  display: none;
}

@media (min-width: 865px) {
  .section-bar {
    display: block;
  }
  .section-bar a {
    display: inline-block;
    padding: 15px;
    border-radius: 3px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #5499C7;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .section-bar a:hover {
    background: #5499C7;
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.bg {
  width: 100%;
  height: 100%;
  height: 400px;
  background-image: url(/media/ecommerce.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 762px) {
  .bg {
    height: 600px;
  }
}

.bg h1 {
  color: #CD6155;
  font-size: 2.5rem;
}

@media (min-width: 762px) {
  .bg h1 {
    font-size: 3.75rem;
    letter-spacing: 4px;
  }
}

.bg h3 {
  color: #CD6155;
  opacity: 0.8;
  padding: 15px;
  text-align: center;
  font-size: 1.1rem;
}

@media (min-width: 762px) {
  .bg h3 {
    font-size: 1.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.about {
  padding: 40px 15px 10px 15px;
  background: #E5E7E9;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(200px, 1fr));
}

@media (min-width: 762px) {
  .about-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.about-container .about__img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.about-container .about__img img {
  width: 100%;
  height: 100%;
}

.about-container .about__info h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-container .about__info h2 span {
  color: #5499C7;
}

.about-container .about__info p {
  line-height: 28px;
  font-size: 1.2rem;
  text-align: justify;
}

.section-products {
  width: 100%;
}

.section-products h2 {
  padding: 28px;
  text-align: center;
}

.products__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(300px, 1fr));
  gap: 40px;
  padding: 5px 5px 40px;
  margin: 0  40px;
}

@media (min-width: 762px) {
  .products__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 990px) {
  .products__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.products__container .card {
  border: 2px solid #F1C40F;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.products__container .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.products__container .card .card-img {
  width: 100%;
  height: 250px;
  padding: 15px;
  max-width: 250px;
  margin: 0 auto;
}

.products__container .card .card-img img {
  width: 100%;
  height: 100%;
}

.card-info {
  text-align: center;
}

.card-info h2 {
  font-weight: lighter;
}

.card-info p {
  line-height: 28px;
}

.card-info .btn-buy {
  padding: 10px 15px;
  margin: 10px auto;
  border-radius: 4px;
  border: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card-info .btn-buy:hover {
  background: #fff;
  border: 1px solid #F1C40F;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.section-products {
  width: 100%;
}

.section-products h2 {
  padding: 28px;
  text-align: center;
}

.products__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(300px, 1fr));
  gap: 40px;
  padding: 5px 5px 40px;
  margin: 0  40px;
}

@media (min-width: 762px) {
  .products__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 990px) {
  .products__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.products__container .card {
  border: 2px solid #F1C40F;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.products__container .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.products__container .card .card-img {
  width: 100%;
  height: 250px;
  padding: 15px;
  max-width: 250px;
  margin: 0 auto;
}

.products__container .card .card-img img {
  width: 100%;
  height: 100%;
}

.card-info {
  text-align: center;
}

.card-info h2 {
  font-weight: lighter;
}

.card-info p {
  line-height: 28px;
}

.card-info .btn-buy {
  padding: 10px 15px;
  margin: 10px auto;
  border-radius: 4px;
  border: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card-info .btn-buy:hover {
  background: #fff;
  border: 1px solid #F1C40F;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.section-contact {
  width: 100%;
  background: #E5E7E9;
}

.section-contact h2 {
  text-align: center;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: 300;
}

.section-contact .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 5px;
}

@media (min-width: 762px) {
  .section-contact .form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.section-contact .form .form-item label {
  width: 100%;
  font-size: 1.2rem;
  display: block;
  text-align: left;
}

.section-contact .form .form-item input {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  display: block;
  margin: 10px 0 20px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #5499C7;
}

.section-contact .form .form-item textarea {
  width: 100%;
  height: 100%;
  max-height: 200px;
  font-size: 1rem;
  padding: 5px;
  background: none;
  border: none;
  border: 1px solid #5499C7;
}

@media (min-width: 762px) {
  .form-mail {
    margin: 0 10px;
  }
}

@media (min-width: 762px) {
  .form-message {
    grid-column: 1 / -1;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */